/* 2. 태그 셀렉터를 이용해서 <p>태그에 회색 색상과 폰트 굵기를 적용해주세요. */
   p { 
    color: gray;
       font-weight: 600;
    }
/* 3. 클래스 셀렉터를 이용해서 "컴퓨터공학과"만 보라색으로 적용해주세요. */
.cse{ 
    color: purple;
}
/* 4. 아이디 셀렉터를 이용해서 "유진서"만 초록색으로 적용해주세요. */
#yjs  {
    color: green;
}
